<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="author" content="miya" />
    <meta name="date" content="2017-09-20 09:15:08" />
    <title>专案组管理</title>
    <link rel="stylesheet" href="../../css/base-plus-xz.css">
    <!--<link rel="stylesheet" href="../../css/base.css">-->
    <style>
        .btn-my-small{
            min-width: 60px;
            margin-right: 3px;
            height: 26px;
            line-height: 26px;
            font-size: 12px;
        }
    </style>
</head>
<body>
<div class="body-agent" id="mainDiv">

</div>

<div id="archiveBlock" class="hide">
    <div class="panel-container">
    </div>
</div>


<div id="dict-block" class="hide">
    <div class="dict-container">
        <!--<div class="bar-btn-div add-bar"><b id="add-dict-btn"  class="cm-add-btn" style="line-height: 24px;"></b></div>-->
        <div class="query-block-row">
            <div class="ml15">
                <span class="common-field">用户名称：</span>
                <input type="text" class="common-input " name="userName" id="userName"/>
                <p class="fr mr15 mb0">
                    <button id="resetBtn" class="btn-my-small cm-reset-btn">重 置</button>
                    <button id="queryBtn" class="btn-my-small cm-query-btn">查 询</button>
                </p>
            </div>
        </div>
        <hr class="cm-dash mt0"/>
        <div class="ml15 mb10">
            <div class="date-select" id="dict-wrap"> </div>
        </div>
    </div>
</div>
<div id="dict-block-unit" class="hide">
    <div class="dict-container">
        <!--<div class="bar-btn-div add-bar"><b id="add-dict-btn"  class="cm-add-btn" style="line-height: 24px;"></b></div>-->
        <div class="query-block-row">
            <div class="ml15">
                <span class="common-field">所属单位：</span>
                <input type="text" class="common-input " name="orgName" id="orgName"/>
                <p class="fr mr15 mb0">
                    <button id="resetBtnOrgName" class="btn-my-small cm-reset-btn">重 置</button>
                    <button id="queryBtnOrgName" class="btn-my-small cm-query-btn">查 询</button>
                </p>
            </div>
        </div>
        <hr class="cm-dash mt0"/>
        <div class="ml15 mb10">
            <div class="date-select" id="dict-wrap-unit"> </div>
        </div>
    </div>
</div>
<div id="dict-block-type" class="hide">
    <div class="dict-container">
        <!--<div class="bar-btn-div add-bar"><b id="add-dict-btn"  class="cm-add-btn" style="line-height: 24px;"></b></div>-->
        <div class="query-block-row">
            <div class="ml15">
                <span class="common-field">专案组类别：</span>
                <input type="text" class="common-input " name="groupType" id="groupType"/>
                <p class="fr mr15 mb0">
                    <button id="resetBtnGroupType" class="btn-my-small cm-reset-btn">重 置</button>
                    <button id="queryBtnGroupType" class="btn-my-small cm-query-btn">查 询</button>
                </p>
            </div>
        </div>
        <div class="query-block">
            <div class="new-color-bar">
                <span class="title">查询结果（共找到<span class="total-count"></span>条数据）</span>
            </div>
            <table id="" class="date-select" >
                <thead>
                <tr>
                    <!--<th width="10%">序号</th>-->
                </tr>
                </thead>
                <tbody class="date-select" id="dict-wrap-type"></tbody>
            </table>
            <div class="paging"></div>
        </div>

    </div>
</div>

<div id="addReason-block" class="hide">
    <div class="addReason-container"> </div>
</div>


<div id="caseListDiv" class="hide">
    <div class="panel-container"></div>
</div>
<div id="userListDiv" class="hide">
    <div class="panel-container"></div>
</div>
</body>
<script src="../../js/base.js?version=0.99"></script>
<script src="../../plugin/dict/dict.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/daterangepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/datetimepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/moment.js?version=0.99"></script>


<script src="../../plugin/timeScope.js"></script>
<script src="../../script/selectUtils.js"></script>
<script data-main="specialCaseGroup.js" src="/plugin/require.js" type="text/javascript"></script>
</html>