.group-content {
    margin: 10px;
}

.group-list {
    float: left;
    width: 200px;
    background: #ffffff;
    height: calc(100vh - 40px);
}

.map-list {
    position: relative;
    margin-left: 210px;
    background: #ffffff;
    height: calc(100vh - 40px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.new-color-bar.head .bar-btn-div {
    margin-top: 5px;
    height: 35px;
    line-height: normal;
}

.new-color-bar.head {
    font-size: 13px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    text-indent: 0;
    border-bottom-color: #E1E7E9;
    font-weight: 600;
}

.new-color-bar.head .bar-btn-div b {
    margin-right: 8px;
    font-weight: normal;
    font-size: 12px;
    height: auto;
    line-height: normal;
}

#toggleGroup {
    position: absolute;
    top: 8px;
    right: 5px;
    cursor: pointer;
    color: #0d8ccf;
    font-size: 16px;
}

#toggleGroup:hover {
    opacity: 0.5;
}

.all-group-list {
    position: relative;
}

.choose-group {
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
    cursor: pointer;
}

.all-group-list i {
    font-size: 18px;
    position: absolute;
    top: 5px;
    right: 0px;
}

.all-group-list ul {
    position: absolute;
    cursor: pointer;
    width: 100%;
    background: #ffffff;
}

.all-group-list ul li {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #dddddd;
}

.all-group-list ul li:hover {
    background-color: #22a0e2;
    color: #ffffff;
}

.common-group-tile {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid #dddddd;
}

.common-group-ul li {
    display: inline-block;
    width: 75px;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.common-group-ul li:hover, .common-group-ul li:active,
.common-group-ul li.active {
    background-color: #22a0e2;
    color: #ffffff;
}

.common-group-tile:before {
    margin-right: 5px;
    color: #22a0e2;
}

.group-btn-div {

}

.orange-btn {
    color: #FF8C00;
    border: 1px solid #FF8C00;
    border-radius: 3px;
    padding: 3px;
    text-shadow: none;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
}

.orange-btn:hover, .orange-btn:active,
.orange-btn.active {
    background-color: #f07f03;
    color: #FFFFFF;
}

.full-actived {
    position: absolute;
    top: 0;
    left: 100px;
    font-weight: normal;
    font-size: 12px;
}

.full-actived .orange-btn {
    display: inline;
    margin-right: 10px;
    padding: 3px;
}

.group-list-s .group-list {
    width: 45px;
}

.group-list-s .map-list {
    margin-left: 55px;
}

.group-list-s .group-list #toggleGroup {
    right: 17px;
}

.group-list-s .group-list .left-line,
.group-list-s .group-list .left-line + span,
.group-list-s .group-list .all-group-list,
.group-list-s .group-list .common-group-list,
.group-list-s .group-list .title-icon {
    display: none;
}

#fullscreenBtn {
    font-size: 15px;
}
