<div class="group-list">
    <div class="new-color-bar head">
        <i class="left-line"></i><span>专案组列表</span>
        <span id="toggleGroup" class="glyphicons glyphicons-show_lines"></span>
    </div>
    <div class="group-content">
        <div class="all-group-list">
            <i class="fa fa-caret-down"></i>
            <h5 class="choose-group">请选择专案组</h5>
            <ul class="all-group-ul hide"></ul>
        </div>
        <div class="common-group-list">
            <h5 class="common-group-tile icon-star">常用专案组</h5>
            <ul class="common-group-ul"></ul>
        </div>
        <div class="group-btn-div hide">
            <b class="into-communication orange-btn">
                <span class="icon-communication"></span>
                <span class="title-icon">进入专案组讨论</span>
            </b>
            <b class="into-print orange-btn">
                <span class="icon-print"></span>
                <span class="title-icon">打印</span>
            </b>
            <!--<b class="into-report orange-btn">-->
                <!--<span class="icon-file"></span>-->
                <!--<span class="title-icon">生成案件侦办过程报告</span>-->
            <!--</b>-->
            <b class="into-taskList orange-btn">
                <span class="icon-list-alt"></span>
                <span class="title-icon">任务清单</span>
            </b>
            <b class="into-relationCase orange-btn">
                <span class="icon-link"></span>
                <span class="title-icon">涉及案件</span>
            </b>
        </div>
    </div>
</div>
<div class="map-list">
    <div class="new-color-bar head">
        <i class="left-line"></i><span>线索脉路图</span>
        <div class="bar-btn-div">
            <b id="fullscreenBtn" class="octicon octicon-screen-full orange-btn"></b>
            <b id="searchBtn" class="icon-search orange-btn"> 查询条件</b>
        </div>

        <div class="full-actived hide">
            <b class="into-communication orange-btn">
                <span class="icon-communication" title="进入专案组讨论"></span>
            </b>
            <b class="into-print orange-btn">
                <span class="icon-print" title="打印"></span>
            </b>
            <b class="into-taskList orange-btn">
                <span class="icon-list-alt" title="任务清单"></span>
            </b>
            <b class="into-relationCase orange-btn">
                <span class="icon-link" title="涉及案件"></span>
            </b>
        </div>
    </div>
    <div class="map-content">
        <div class="map-svg" id="mapSvg" style="height: calc(100vh - 75px);">
            <iframe id="mapSvgFrame" class="tab-content-frame" src=""></iframe>
        </div>
    </div>
</div>