<div class="message-container">
    <div class="message-main">
        <div class="left-sidebar">
            <div class="group-name"></div>
            <!--<div class="search-wrap"><input type="text" class="common-input" placeholder="请输入关键字搜索"/></div>-->
            <ul class="member-list"> </ul>
        </div>

        <div class="right-main">
            <div class="m-message">
                <ul class="message-list"> </ul>
            </div>
            <div class="m-input-wrapper">
                <div class="m-emoji">
                    <b id="sendFileBtn" class="fa fa-folder-o" title="发送文件">
                        <input type="file" class="file-images" id="fileBox">
                    </b>
                    <b id="sendFileImagesBtn" class="fa fa-file-image-o" title="发送图片">
                        <input type="file" class="file-images" id="fileImagesBox" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">
                    </b>
                    <b id="sendEmojiBtn" class="fa fa-meh-o" title="选择表情"></b>
                    <b id="setTextSizeBtn" class="fa fa-font" title="设置字体大小"></b>
                    <!--<b id="chartBotesBtn" class="fa fa-bookmark" title="聊天记录"></b>-->
                    <div class="div-panel"></div>
                </div>
                <div class="m-text">
                    <!-- placeholder="按 Enter 发送"-->
                    <div class="text-content" id="messageContent" contenteditable="true"></div>
                </div>

                <button id="sendBtn" class="m-btn cm-save-btn">发送</button>

            </div>
        </div>

    </div>
</div>