<div class="col-panel-block daiban">
    <h3 class="col-panel-header"><i class="left-line"></i><span>平台成果展示</span> <a class="more-link" href="javascript:void(0)" >更多</a></h3>
    <div class="col-panel-body contentDiv" id="achieveContent">
        <%_.each(data, function(item){%>
        <div>
            <a href="#" data-id="<%=item.id%>" class="noticeOne">
                <span class="dot-decoration ml15 vam"></span>
                <span class="text-record ml15" title="<%=item.msgTitle%>"><%=item.name%></span>
                <span class="span-time"><%=rangeUtil.formatDate(item.time,'yyyy-MM-dd hh:mm')%></span>
            </a>
        </div>
        <%})%>
    </div>
</div>