<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台成果展示</title>
    <link rel="stylesheet" href="../../css/base-plus-xz.css">
</head>
<body>
<div class="body-agent" id="mainDiv">
    <div id="achieveListResult" class="query-result">
        <div class="new-color-bar">
            <i class="icon-search fs14 mr10"></i>
            <span class="title">查询结果（共找到<span class="total-count"></span>条数据）</span>
        </div>
        <div class="div-table-wrap">
            <table id="achieveListTable" class="achieveList-table typical-tb">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>专案组编号</th>
                    <th>专案组名称</th>
                    <th>专案组创建时间</th>
                    <th>告破内容</th>
                    <th>归档人姓名</th>
                    <th>归档人单位</th>
                    <th>归档时间</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="paging"></div>
    </div>
</div>

<div id="panelDiv" class="hide">
    <div class="panel-container">
        <!--<div class="div-table-wrap">-->
            <!--<table id="feedbackTable" class="feedbackList-table typical-tb">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>序号</th>-->
                    <!--<th>反馈线索</th>-->
                    <!--<th>音视频资料下载</th>-->
                    <!--<th>反馈时间</th>-->
                    <!--<th>反馈人</th>-->
                    <!--<th>备注</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<%_.each(data, function(item){%>-->
                <!--<tr>-->
                    <!--<td><%=item.%></td>-->
                    <!--<td>已经去了受害者家，受害人家属承受了很大的打击，要求尽快破案抓住凶手。安抚过程中得知被害人案发前几天曾与不知名的人有过口角。</td>-->
                    <!--<td><span class="download-text">附件1</span><br>-->
                        <!--<span class="download-text">附件2</span><br>-->
                        <!--<span class="download-text">附件3</span></td>-->
                    <!--<td>警员A</td>-->
                    <!--<td>2017-08-29 15:00:00</td>-->
                    <!--<td>备注说明</td>-->
                <!--</tr>-->
                <!--<%})%>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->

        <!--<div class="form-btn-block">-->
            <!--<button id="closeBtn" class="cm-cancel-btn">关 闭</button>-->
        <!--</div>-->
    </div>
</div>
</body>

<script src="../../js/base.js?version=0.99"></script>
<script src="../../plugin/dict/dict.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/daterangepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/datetimepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/moment.js?version=0.99"></script>
<script data-main="fstPageMoreClick.js" src="/plugin/require.js" type="text/javascript"></script>
</html>