<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台成果展示</title>
    <link rel="stylesheet" href="../../../css/base-plus-xz.css">
    <link rel="stylesheet" href="../../../css/message.css?version=0.99">
</head>
<body>
<div class="body-agent" id="mainDiv">
    <div id="achieveListResult" class="query-result">
        <div class="new-color-bar">
            <i class="icon-search fs14 mr10"></i>
            <span class="title">查询结果（共找到<span class="total-count"></span>条数据）</span>
        </div>
        <div class="div-table-wrap">
            <table id="achieveListTable" class="achieveList-table typical-tb">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>专案组编号</th>
                    <th>专案组名称</th>
                    <th>专案组创建时间</th>
                    <th>告破内容</th>
                    <th>归档人姓名</th>
                    <th>归档人单位</th>
                    <th>归档时间</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="paging"></div>
    </div>
</div>
</body>
<script src="../../js/base.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/daterangepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/datetimepicker.js?version=0.99"></script>
<script src="../../plugin/daterangepicker/moment.js?version=0.99"></script>
<script data-main="fstPageMoreClick.js" src="/plugin/require.js" type="text/javascript"></script>
</html>