<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta name="author" content="miya" />
    <meta name="date" content="2017-09-20 09:15:08" />
    <title>指挥协作管理</title>
    <link rel="stylesheet" href="../../css/base-plus-xz.css">
    <link rel="stylesheet" href="css/command.css">
    <script src="../../plugin/d3/d3.3.5.17.js"></script>
    <script src="../../js/base.js?version=0.99"></script>
    <script src="../../plugin/dict/dict.js?version=0.99"></script>
    <script src="../../plugin/daterangepicker/daterangepicker.js?version=0.99"></script>
    <script src="../../plugin/daterangepicker/moment.js?version=0.99"></script>
    <script src="../../plugin/timeScope.js"></script>
    <script src="../../script/selectUtils.js"></script>
    <script src="../../plugin/jqprint/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../plugin/jqprint/jquery.jqprint-0.3.js"></script>
    <script src="../../script/fullpanel.js"></script>
</head>
<body>
<div class="body-agent pd20 pr" id="mainDiv">

</div>
<!--查询条件 所属专案组-->
<div id="groupBlock" class="p15 hide">
    <div class="query-block-row">
        <div class="pr search-opener">
            <input type="text" class="common-input opener-search-input" id="groupName" placeholder="输入汉字，回车搜索"/>
            <i class="icon-search" id="queryGroup"></i>
            <i class="icon-remove-sign ico-error" id="resetBtnGroup"></i>
        </div>
    </div>
    <div class="openerResult" id="groupOpenerResult">

    </div>
</div>
<!--查询条件 选择下发人-->
<div id="creatorBlock" class="p15 hide">
    <div class="query-block-row">
        <div class="pr search-opener">
            <input type="text" class="common-input opener-search-input" id="creator" placeholder="输入汉字，回车搜索"/>
            <i class="icon-search" id="queryBtnCreator"></i>
            <i class="icon-remove-sign ico-error" id="resetBtnCreator"></i>
        </div>
    </div>
    <div class="openerResult" id="creOpenerResult">

    </div>
</div>
<!--查询条件 选择接收人-->
<div id="recipientBlock" class="p15 hide">
    <div class="query-block-row">
        <div class="pr search-opener">
            <input type="text" class="common-input opener-search-input" id="recipient" placeholder="输入汉字，回车搜索"/>
            <i class="icon-search" id="queryBtnRecipient"></i>
            <i class="icon-remove-sign ico-error" id="resetBtnRecipient" ></i>
        </div>
    </div>
    <div class="openerResult" id="recOpenerResult">

    </div>
</div>
<!--查询条件 选择所属单位-->
<div id="orgBlock" class="p15 hide">
    <div class="query-block-row">
        <div class="pr search-opener">
            <input type="text" class="common-input opener-search-input" id="orgName" placeholder="输入汉字，回车搜索"/>
            <i class="icon-search" id="queryBtnOrgName"></i>
            <i class="icon-remove-sign ico-error" id="resetBtnOrgName"></i>
        </div>
    </div>
    <div class="openerResult" id="orgOpenerResult">

    </div>
</div>
<!--查询条件 选择案别-->
<div id="caseTypeBlock" class="p15 hide">
    <div class="query-block-row">
        <div class="pr search-opener">
            <input type="text" class="common-input opener-search-input" name="groupType" id="groupType" placeholder="输入汉字，回车搜索"/>
            <i class="icon-search" id="queryBtnGroupType"></i>
            <i class="icon-remove-sign ico-error" id="resetBtnGroupType" ></i>
        </div>
    </div>
    <div class="openerResult" id="caseTypeOpenerResult">

    </div>
</div>

<!--聊天窗口-->
<div id="chatBlock" class="hide">
    <div class="panel-container">
    </div>
</div>

<!--任务清单-->
<div id="taskListDiv" class="hide">
    <div class="panel-container">
    </div>
</div>

<!--涉及案件-->
<div id="caseListDiv" class="hide">
    <div class="panel-container">
    </div>
</div>
</body>
<script data-main="command.js" src="/plugin/require.js" type="text/javascript"></script>
</html>