<div class="form-content">
    <form id="taskEditForm" >
        <div class="form-content-block">
            <div class="form-header">
                <h5 class="form-title"><i class="left-line"></i><span>任务基本信息</span></h5>
            </div>
            <div class="form-body wrapper-fluid">
                <div class="form-row block-row">
                    <div class="equal-col-6">
                        <span class="common-field">任务状态：</span>
                        <%if(data.fkzt == 1){%>
                        <input class="common-input" type="text" name="" id="taskStatus" value="已反馈" readonly/>
                        <%}else{%>
                        <input class="common-input" type="text" name="" id="taskStatus" value="未反馈" readonly/>
                        <%}%>
                    </div>
                    <div class="equal-col-6">
                        <span class="common-field">接收状态：</span>
                        <%if(data.qszt == 1){%>
                        <input class="common-input" type="text"  name="" id="receiveStatus" value="已查看" readonly/>
                        <%}else{%>
                        <input class="common-input" type="text"  name="" id="receiveStatus" value="未查看" readonly/>
                        <%}%>
                    </div>
                </div>
                <div class="form-row block-row">
                    <div class="equal-col-6">
                        <span class="common-field">专案组：</span>
                        <input class="common-input" type="text"  name="" id="belongGroup" value="<%=data.groupid%>" readonly/>
                    </div>
                </div>
                <div class="form-row block-row">
                    <div class="equal-col-12">
                        <span class="common-field">任务内容：</span>
                        <textarea class="common-textarea" name="" id="taskContact" readonly><%=data.taskContent%></textarea>
                    </div>
                </div>
                <div class="form-row block-row">
                    <div class="equal-col-6">
                        <span class="common-field">下发人：</span>
                        <input class="common-input" type="text"  name="" id="distributeName" value="<%=data.createname%>" readonly/>
                    </div>
                    <div class="equal-col-6">
                        <span class="common-field">下发时间：</span>
                        <input class="common-input" type="text"  name="" id="distributeDate" value="<%=rangeUtil.formatDate(data.createtime,'yyyy-MM-dd')%>" readonly/>
                    </div>
                </div>
                <div class="form-row block-row">
                    <div class="equal-col-6">
                        <span class="common-field">下发人联系方式：</span>
                        <input class="common-input" type="text"  name="" id="distributeContact" value="<%=data.fqrLxfs%>" readonly/>
                    </div>
                    <div class="equal-col-6">
                        <span class="common-field">反馈截止时间：</span>
                        <input class="common-input" type="text"  name="" id="dateDue" value="<%=rangeUtil.formatDate(data.fkjzTime,'yyyy-MM-dd')%>" readonly/>
                    </div>
                </div>

                <%if(data.jsr == top.userId){%>
                <div class="form-row block-row">
                    <div class="equal-col-12">
                        <span class="common-field">反馈信息：</span>
                        <div class="textarea-group">
                            <textarea class="common-textarea" name="" id="fkxs"></textarea>
                            <div class="upload-block">
                                <b id="addVideo" class="cm-btn-icon h-add orange-btn upload-btn">视频上传<input type="file" accept=".mp4,.aiff,.avi,.mpg,.mpeg,.wmv,.mkv"></b>
                                <b id="addPic" class="cm-btn-icon h-add orange-btn upload-btn">图片上传<input type="file" accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff"></b>



                                <div class="media-right pl120 equal-col-3">
                                    <div class="progress" style="height: 6px;margin-bottom:3px;width: 150px;" >
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="10"
                                             style="width: 0%;">
                                        </div>
                                    </div>
                                    <label class="cm-upload-btn" for="inputImage" title="Upload image file">
                                        <b id="addVideo1" class="cm-btn-icon h-add orange-btn upload-btn">视频上传
                                            <input type="file" accept=".mp4,.aiff,.avi,.mpg,.mpeg,.wmv,.mkv">
                                        </b>
                                        <!--<input type="file" class="sr-only" id="inputImage" name="imageUpload"-->
                                               <!--accept=".jpg,.jpeg,.png,.gif,.bmp,.tiff">-->
                                        <!--<span id="avatar-btn" class="upload-text">选择头像</span>-->
                                    </label>
                                </div>



                                <span class="red">调查过程材料上传</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row block-row">
                    <div class="equal-col-12">
                        <span class="common-field">备注：</span>
                        <textarea class="common-textarea" name="" id="bz"></textarea>

                    </div>
                </div>
                <div class="form-row block-row">
                    <div class="equal-col-6">
                        <span class="common-field">反馈时间：</span>
                        <input class="common-input" type="text"  name="" id="fkTime" value="<%=rangeUtil.formatDate(rangeUtil.getCurrentDate(),'yyyy-MM-dd')%>" readonly/>
                    </div>
                    <div class="equal-col-6">
                        <span class="common-field">反馈人：</span>
                        <input type="hidden" id="fkr"/>
                        <input class="common-input" type="text"  name="" id="fkrname" value="<%=top.trueName%>" readonly/>
                    </div>
                </div>
                <%}%>
            </div>
        </div>

        <%if(data.fkzt && data.fkzt == 1){%>
        <div class="form-content-block">
            <div class="form-header">
                <h5 class="form-title"><i class="left-line"></i><span>查看反馈信息</span></h5>
            </div>
            <div class="form-body wrapper-fluid">
                <div class="div-table-wrap">
                    <table id="feedbackTable" class="feedbackList-table typical-tb">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>反馈线索</th>
                            <th>音视频资料下载</th>
                            <th>反馈时间</th>
                            <th>反馈人</th>
                            <th>反馈确认状态</th>
                            <th>备注</th>
                            <%if(data.fqr == top.userId){%>
                            <th>操作</th>
                            <%}%>
                        </tr>
                        </thead>
                        <tbody>
                        <% _.each(data.taskFks, function(item,i){%>
                        <tr>
                            <td><%=(i+1)%></td>
                            <td><%=item.fkxs%></td>
                            <td>
                                <% _.each(item.taskFkFiles, function(itemFile,i){%>
                                    <%if(itemFile.fileName  && itemFile.fileName !=''){%>
                                    <span class="download-text" path="<%=itemFile.filePath%>" id="<%=itemFile.id%>"><%=itemFile.fileName%>.<%=itemFile.fileType%></span><br>
                                    <%}%>
                                <%})%>
                            <td><%=rangeUtil.formatDate(item.fkTime,'yyyy-MM-dd')%></td>
                            <td><%=item.fkrname%></td>
                            <td>
                                <%if(item.qrzt && item.qrzt == 0){%>
                                未确认
                                <%}else{%>
                                已确认
                                <%}%>
                            </td>
                            <td><%=item.bz%></td>
                            <%if(data.fqr == top.userId){%>
                            <td>
                                <a class="into-appendTaskBtn fa fa-plus-square" fkid="<%=item.id%>" taskinfo='<%=obj2str(data)%>' title="追加任务"></a>
                            </td>
                            <%}%>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <%}%>
    </form>
    <div class="form-btn-block">
        <button id="cancelBtn" class="cm-cancel-btn">取 消</button>
        <%if(data.fkzt && data.fkzt == 0 && data.jsr == top.userId){%>
            <button id="replenishTaskBtn" class="cm-save-btn"  bcrwid="<%=data.id%>" taskinfo='<%=obj2str(data)%>'>补充任务</button>
        <%}%>
        <%if(data.jsr == top.userId){%>
        <button id="feedbackBtn" class="cm-save-btn" taskinfo='<%=obj2str(data)%>'>反 馈</button>
        <%}%>

    </div>

</div>
