<%_.each(data, function(item){%>
<tr>
    <td><%=item.rn%></td>
    <td><%=item.taskNo%></td>
    <td><%=item.taskName%></td>
    <%if(isOperation == true){%>
        <td><a class="link-text" id="<%=item.id%>"><%=item.taskContent%></a></td>
    <%}else if(isOperation==false){%>
        <td><%=item.taskContent%></td>
    <%}%>
    <td><%=item.groupName%></td>
    <td><%=item.createname%></td>
    <td><%=rangeUtil.formatDate(item.createtime,'yyyy-MM-dd')%></td>
    <td><%=item.jsrname%></td>
    <td>
        <%if(item.fkzt==0){%>
        未反馈
        <%}else if(item.fkzt==1){%>
        已反馈
        <%}%>
    </td>
    <td>
        <%if(item.qszt==0){%>
        未查看
        <%}else if(item.qszt==1){%>
        已查看
        <%}%>
    </td>
    <td><%=item.noFkqrCount%></td>
    <td><%=rangeUtil.formatDate(item.fkjzTime,'yyyy-MM-dd')%></td>
    <td><%=rangeUtil.formatDate(item.fqTime,'yyyy-MM-dd')%></td>

    <%if(isOperation == true){%>
    <td>
        <%if(item.yjzt == 0){%>
            <% if(item.creator == top.userId){%>
            <a class="into-urge icon-urge" id="<%=item.id%>" title="催办"></a>
            <%}%>

            <%if(item.creator == top.userId && item.qszt == 0 && item.fkzt == 0){%>
            <a class="into-delete icon-delete" id="<%=item.id%>" taskNo="<%=item.taskNo%>" title="删除"></a>
            <%}%>

            <%if(item.jsr == top.userId){%>
            <a class="into-feedback icon-feedback" id="<%=item.id%>" title="反馈"></a>
            <%}%>
            <%if(item.jsr == top.userId && item.fkzt == 0){%>
            <a class="into-transfer icon-transfer" taskinfo='<%=obj2str(item)%>' id="<%=item.id%>" createname="<%=item.createname%>" creator="<%=item.creator%>" deparmentcode="<%=item.deparmentcode%>" title="移交"></a>
            <%}%>
        <%}else{%>
            <%if(!item.yjrwid){%>
                <% if(item.creator == top.userId){%>
                <a class="into-urge icon-urge" id="<%=item.id%>" taskinfo='<%=obj2str(item)%>' title="催办"></a>
                <%}%>

                <%if(item.creator == top.userId && item.qszt == 0 && item.fkzt == 0){%>
                <a class="into-delete icon-delete" id="<%=item.id%>" taskNo="<%=item.taskNo%>" title="删除"></a>
                <%}%>

                <%if(item.jsr == top.userId){%>
                <a class="into-feedback icon-feedback" id="<%=item.id%>" title="反馈"></a>
                <%}%>
                <%if(item.jsr == top.userId && item.fkzt == 0){%>
                <a class="into-transfer icon-transfer" taskinfo='<%=obj2str(item)%>' id="<%=item.id%>" createname="<%=item.createname%>" creator="<%=item.creator%>" deparmentcode="<%=item.deparmentcode%>" title="移交"></a>
                <%}%>
            <%}%>
        <%}%>

    </td>
    <%}%>
</tr>
<%})%>

